{% set bodyClass = 'project' %}

{% extends "_layouts/site" %}

{% block main %}

<!-- Title -->
<section class="grid-container">
<div class="grid-x grid-padding-y align-center">
  <div class="small-12 cell text-center padding-bottom-0">
    <h1 class="h2">{{entry.client}} {% if entry.project %}— <span class="serif-italic">{{entry.project}}</span>{% endif %}</h1>
  </div>
</div>
</section>
<!-- End Title -->

<!-- Layout -->
<section class="grid-container" id="testinglayout">
{% include "_includes/blocks/layout" %}
</section>
<!-- End Layout -->

<!-- Credits -->
<section class="grid-container">
<div class="grid-x grid-padding-y align-center">
  <div class="small-12 cell text-center padding-bottom-0">
    {{ entry.credits }}
  </div>
</div>
</section>
<!-- End Credits -->

<!-- Pagination Small -->
<section class="show-for-small-only">
{% set projectQuery = craft.entries
.section('projects')
.orderBy('RAND()')
.id('not ' ~ entry.id)
.limit(3) 
%}

{% set projects = projectQuery.all() %}

<div class="grid-container padding-bottom-2">

  <div class="grid-x grid-padding-x grid-padding-y">
    {% for project in projects %}
      <div class="small-12 medium-4 cell text-center">
        <a href="{{ project.url }}">
          {% set image = project.image.one() %}
          <div class="margin-bottom-1 image--square" data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-12" %}">
            <div class="content grid-y align-center">
              <div class="shrink cell padding-1">
              </div>
            </div>
          </div>
      
          <div>{{ project.client }} — {{ project.project }}</div>
      
        </a>
      </div>
    {% endfor %}
  </div>
</div>
</section>
<!-- End Pagination Medium -->


<!-- Pagination Medium -->
<section class="show-for-medium">
{% set projectQuery = craft.entries
.section('projects')
.orderBy('RAND()')
.id('not ' ~ entry.id)
.limit(3) 
%}

{% set projects = projectQuery.all() %}

<div class="grid-container padding-bottom-2">

  <div class="grid-x grid-padding-x grid-padding-y">
    {% for project in projects %}
      <div class="small-12 medium-4 cell text-center">
        <a href="{{ project.url }}">
          {% set image = project.image.one() %}
          <div class="margin-bottom-1 image--square" data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-12" %}">
            <div class="content grid-y align-center">
              <div class="shrink cell padding-1">
              </div>
            </div>
          </div>
      
          <div>{{ project.client }} — {{ project.project }}</div>
      
        </a>
      </div>
    {% endfor %}
  </div>
</div>
</section>
<!-- End Pagination Medium -->


{% endblock %}